h1 {
    color: black;
}
h1 {
    font-size: 30px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
a:hover {
    color: red;
}
h1 {
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(240,45,253,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1{ 
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url(mentahan.jpg);
    background-repeat: no-repeat;
}